*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --first-color:#e6e3dd;
    --second-color: #542e1d;
    --third-color: #e6e3dd57;
}
body{
    color: var(--first-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background-image: url(../photo/1bg.jpg);
    background-size: cover;
}
.main_body{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    gap: 3ch;
    background-image: url(../photo/1bg.jpg);

}
a{
    color: var(--first-color);
    text-decoration: underline
}
.main_body_left{
    background-color: var(--third-color);
    border-top-right-radius: 250px;
    border-bottom-right-radius: 100px;
    font-size: x-large;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2ch;
    padding: 4ch;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.main_body_right{
    font-size: x-large;
    padding: 5ch;
    display: flex;
    flex-direction: column;
    gap:2ch;
    width: 50vw;
    align-items: center;
}
.logo{
    width: 30vw;
    aspect-ratio: 1/1;
    border-radius: 250px;
    opacity: 0.9;
}
.main_form{
    display: flex;
    flex-direction: column;
    gap: 3ch;
}
.main_input{
    background-color: var(--third-color);
    padding: 1ch;
    border-radius: 5px;
    width: 25vw;
}
.main_input:focus{
    outline: none;
    border: none;
    background-color: var(--first-color);
}
.login_button{
    background-color: var(--first-color);
    width: 15vw;
    height: 4vh;
    border-radius: 5px;
}
.login_button:hover{
    background-color: var(--third-color);
    transition: 500ms;
}
.login_button:active{
    background-color: var(--second-color);
    transition: 500ms;
    transform: scale(0.9);
}
.message{
    display: none;
    gap: 2ch;
    padding: 2ch;
    background-color: red;
    border-radius: 5px;
}
.message1{
    display: none;
    gap: 2ch;
    padding: 2ch;
    background-color: red;
    border-radius: 5px;
}
.message_allert{
    display: flex;
    gap: 2ch;
    padding: 2ch;
    background-color: red;
    border-radius: 5px;
}
.form_footer{
    display: flex;
    flex-direction: column;
    gap: 1ch;
}
.network{
    background-color: var(--first-color);
    padding: 2px;
    align-items: center;
    border-radius: 5px;
    border: none;
}
.network:hover{
    transform: scale(1.3);
    transition: 500ms;
    color: var(--second-color);
}